/* Основные стили приложения */
.App {
  text-align: center;
}

.App-logo {
  height: 10vmax;
  pointer-events: none;
}

/* Спиннер анимации для логотипа, если нужен */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Стили ссылок */
.App-link {
  color: #61dafb;
}

/* Стилизация полей ввода */
.App-input {
  background-color: #202225; /* Цвет фона поля ввода */
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0; /* Отступ между полями ввода */
  color: #dcddde; /* Цвет текста внутри поля ввода */
  font-size: 16px;
  width: calc(100% - 20px); /* Ширина поля с учетом padding */
  box-sizing: border-box;
}

/* Цвет placeholder'а */
.App-input::placeholder {
  color: #72767d; /* Цвет текста placeholder'а */
}

/* Убрать обводку при фокусе и добавить тень в стиле Discord */
.App-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #00b0f4;
}

/* Стилизация контейнеров ввода */
.input-container {
  max-width: 300px; /* Максимальная ширина поля ввода */
  width: calc(100% - -20px); /* Ширина кнопки с учетом padding */
}

/* Стилизация кнопки для входа */
.App-login-button {
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  background-color: #5865F2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: calc(100% - 1px); /* Ширина кнопки с учетом padding */
  box-sizing: border-box;
  margin: 10px 0 20px 0; /* Отступы для кнопки */
  transition: background-color 0.2s;
}

/* Изменение цвета кнопки при наведении */
.App-login-button:hover {
  background-color: #4752C4;
}

/* Стилизация label */
label {
  color: #dcddde;
  margin-bottom: 5px; /* Меньше расстояние между label и input */
}



/* Медиа запросы для анимации логотипа при предпочтении отсутствия анимации */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
